
*
    padding: 0
    margin: 0
    box-sizing: border-box

.container
    max-width: 1200px
    margin: auto
    @include responsive(desktop_big)
        max-width: 1400px
    @include responsive(desktop)
        max-width: 1024px
    @include responsive(tablet)
        max-width: 1000px

.center
    display: flex
    justify-content: center

.row
    display: flex
    flex-flow: wrap row

.row_reverse
    display: flex
    flex-flow: wrap row-reverse

.column
    display: flex
    flex-flow: column wrap
